@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Racing+Sans+One&display=swap');


/* GLOBAL */
html,
body,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  box-shadow: 2px -2px 242px 6px rgba(0, 26, 0, 0.96) inset;
  -webkit-box-shadow: 2px -2px 242px 6px rgba(0, 26, 0, 0.96) inset;
  -moz-box-shadow: 2px -2px 242px 6px rgba(0, 26, 0, 0.96) inset;
  overflow: auto;
}

body {
  font-family: 'Racing Sans One', cursive;
  color: white;
  background-color: rgb(0, 0, 0);

}

html {}

/* class selector */
.add_borders {
  border-style: solid;
  border-width: 1.5px;
  transition: all .2s ease-in;
}

.hide {
  visibility: hidden;
}

.filter_msg {
  font-size: 30px;
  color: hotpink;
}

.auth {
  border: 2px solid yellowgreen;
  margin: 5em 2em;
}

.App {
  text-align: center;
  justify-content: center;
  margin: 0 auto;

}

header {
  margin-top: 2em;
}

header div.title {
  max-width: 300px;
  display: flex;
  margin: 1em auto;
  align-items: center;
  justify-content: center;
  background-color: hotpink;
  border-radius: 50%;
  box-shadow: 5px 2px 28px 1px rgba(180, 181, 180, 0.794) inset;
  -webkit-box-shadow: 5px 2px 28px 1px rgba(180, 181, 180, 0.794) inset;
  -moz-box-shadow: 5px 2px 28px 1px rgba(180, 181, 180, 0.794) inset;
}

header h3 {
  font-family: 'Bungee Inline', cursive;
  font-size: 16px;
}

#logoutBtn {
  font-size: 20px;
  margin: 30px auto;
  font-family: 'Racing Sans One';
  border-color: yellowgreen;
  box-shadow: 3px -3px 15px 3px rgba(86, 240, 14, 0.84) inset;
  -webkit-box-shadow: 3px -3px 15px 3px rgba(86, 240, 14, 0.84) inset;
  -moz-box-shadow: 3px -3px 15px 3px rgba(86, 240, 14, 0.84) inset;
  border-radius: 15px;
  padding: 5px 4em;
}

#logoutBtn:hover {
  background-color: yellowgreen;
  color: black;
}

.login_wrapper {
  padding: 10px 1em;
  margin: 50px auto;
  width: 300px;
  transition: .3s;
  border-radius: 25px;
}

.loginLink {
  border-color: yellowgreen;
  border-radius: 25px;
}

.login_wrapper:hover {
  background-color: yellowgreen;
}

.login_wrapper a {
  font-size: 50px;
  text-decoration: none;
  color: yellowgreen;
  transition: .35s;
}

.login_wrapper a:hover {
  color: black;
}

div.circle {
  margin: 20% auto;
  border: 8px solid white;
  border-top: 8px solid hotpink;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


div.scroll_box {
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px;
  border-color: yellowgreen;
  overflow: scroll;
  /* max-height: 550px; */
  max-height: 30em;
  scroll-behavior: smooth;
  padding: 1.5px;
  box-shadow: 5px 2px 308px 1px rgba(221, 255, 152, 0.31) inset;
  -webkit-box-shadow: 5px 2px 308px 1px rgba(221, 255, 152, 0.31) inset;
  -moz-box-shadow: 5px 2px 308px 1px rgba(221, 255, 152, 0.31) inset;
  overflow-x: hidden;
}

.my_playlists h1 {
  font-size: 32px;
  color: yellowgreen;
  margin: 0 auto;
}

.playlist_wrapper {
  max-width: 800px;
  margin: 0 auto .777em;
  /* height: 120px; */
  padding: 0 0 0 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: left;
  border-color: hotpink;
  border-radius: 15px;
  box-shadow: 5px 2px 42px 1px rgba(253, 224, 249, 0.983) inset;
  -webkit-box-shadow: 5px 2px 42px 1px rgba(253, 224, 249, 0.36) inset;
  -moz-box-shadow: 5px 2px 42px 1px rgba(253, 224, 249, 0.36) inset;
}

.playlist_wrapper h3 {
  font-size: 30px;
  margin: .5em auto;
}

.playlist_wrapper aside {
  width: 80%;
}

.playlist_wrapper button {
  border: none;
  border-radius: 0 10px 10px 0;
  margin-right: none;
  width: 20%;
  font-family: 'Racing Sans One', cursive;
  font-size: 18px;
  color: black;
  background-color: hotpink;
  transition: .3s;
  text-align: center;
  /* box-shadow: 5px 2px 42px 1px rgba(253, 224, 249, 0.983) inset;
  -webkit-box-shadow: 5px 2px 42px 1px rgba(253, 224, 249, 0.983) inset;
  -moz-box-shadow: 5px 2px 42px 1px rgba(253, 224, 249, 0.983) inset; */
  box-shadow: 2px -2px 69px -17px rgba(253, 224, 249209, 0.84) inset;
  -webkit-box-shadow: 2px -2px 69px -17px rgba(253, 224, 249209, 0.84) inset;
  -moz-box-shadow: 2px -2px 69px -17px rgba(253, 224, 249209, 0.84) inset;


}

.playlist_wrapper button:hover {
  background-color: white;
  color: hotpink;
}

.playlist_wrapper button.been_filtered {
  background-color: yellowgreen;
  color: black;
}

.playlist_wrapper p {
  color: hotpink;
  font-family: 'Bungee Inline', cursive;
  font-size: 14px;
}

@media screen and (max-width: 850px) {
  div.scroll_box {
    overflow: scroll;
    overflow-x: hidden;
    height: 100em;
    margin: auto;
  }

  div.scroll_box button {
    text-align: center;
    font-size: 16px;
  }

  .playlist_wrapper h3 {
    font-size: 24px;
  }

  .playlist_wrapper p {
    font-size: 11px;
  }
}

@media screen and (max-height: 740px) {
  header div.title {
    height: 55px;
  }

  div.scroll_box {
    height: 24em;
  }
}